stanford_parser/stanford-parser-full-2015-12-09/edu/stanford/nlp/models/lexparser/englishRNN.ser.gz
.idea/workspace.xml
stanford_parser/stanford-parser-full-2015-12-09/edu/stanford/nlp/models/lexparser/wsjRNN.ser.gz
